@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Dosis&family=Quicksand:wght@300&family=Raleway&family=Schoolbell&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Raleway", sans-serif;
}

input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"],
select {
  border-radius: 0;
  outline: none;
  background-color: white;
  @apply border-gray-500 border border-l-8 border-l-black pl-2 py-1;
}

button {
  padding: 15px 7.5px;
}

nav > *,
div[nav-options] {
  display: flex;
  place-items: center;
}

nav {
  @apply border-t-8;
  border-image: linear-gradient(
      90deg,
      rgba(245, 26, 54, 1) 0%,
      rgba(222, 24, 115, 1) 50%,
      rgba(181, 23, 203, 1) 100%
    )
    30 stretch;
}
