@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Dosis&family=Quicksand:wght@300&family=Raleway&family=Schoolbell&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Raleway", sans-serif;
}

input,
select {
  border-radius: 0;
  outline: none;
  border: none;
  padding: 10px 5px;
  background-color: white;
  border: 1px solid gray;
  border-left: 4px solid black;
}

button {
  padding: 15px 7.5px;
}

nav > *,
div[nav-options] {
  display: flex;
  place-items: center;
}

nav {
  border-image: linear-gradient(
      90deg,
      rgba(245, 26, 54, 1) 0%,
      rgba(222, 24, 115, 1) 50%,
      rgba(181, 23, 203, 1) 100%
    )
    30 stretch;
  border-top-width: 5px;
}
