@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Dosis&family=Quicksand:wght@300&family=Raleway&family=Inconsolata&family=Schoolbell&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Raleway", sans-serif;
}

input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"],
select {
  border-radius: 0;
  outline: none;
  background-color: white;
  @apply border-gray-400 border  pl-2 py-2;
}

input:disabled {
  @apply text-stone-600 bg-stone-200 border-l-stone-700;
}

nav > *,
div[nav-options] {
  display: flex;
  place-items: center;
}

nav {
  @apply border-t-8;
  border-image: linear-gradient(
      90deg,
      rgba(245, 26, 54, 1) 0%,
      rgba(222, 24, 115, 1) 50%,
      rgba(181, 23, 203, 1) 100%
    )
    30 stretch;
}

h1 {
  @apply text-3xl md:text-4xl font-semibold;
}

h2 {
  @apply text-xl md:text-2xl font-semibold;
}

h3 {
  @apply text-lg md:text-xl font-semibold;
}
h4 {
  @apply text-lg font-semibold;
}
h5 {
  @apply text-base font-semibold;
}
